main {
    height: 70vh;
    display: flex;
    margin: 0 50px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.to-do {
    overflow-y: scroll;
    height: 750px;
}

#errorMessage {
    color: red;
    font-size: 14px;
}

.status-text {
    text-transform: capitalize;
}

.status-pending {
    font-size: 14px;
    color: orangered;
}

.status-completed {
    font-size: 14px;
    color: green;
}

#taskStatusCheck {
    display: none;
    font-size: 14px;
}

.app::-webkit-scrollbar {
    width: 0 !important;
}