main {
    /*height: 70vh;*/
    display: flex;
    margin: 0 50px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.to-do {
    height: 750px;
    overflow-y: scroll;
    margin: 25px 0;
    border: 2px solid #0a0a0a;
}

.all-tasks {
    margin: 75px 0;
}

#errorMessage {
    color: red;
    font-size: 14px;
}

.status-text {
    text-transform: capitalize;
}

.status-pending {
    font-size: 14px;
    color: orangered;
}

.status-completed {
    font-size: 14px;
    color: green;
}

#taskStatusCheck {
    font-size: 14px;
}

.app::-webkit-scrollbar {
    width: 0 !important;
}